*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding-bottom: 80px;
}

.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f8f8f8;
  padding: 0px 30px;
}

.nav1{
  display: flex;
  align-items: center;
  gap: 20px;
}
.nav1 img{
  height: 80px;
}
.nav2{
   display: flex;
}
button{
  border: 2px solid #2d9cdb;
  color: #2d9cdb;
  padding: 0px 10px;
  margin: 0px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

ul{
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  background: rgba(0, 0, 0, .8);
  padding: 12px 16px;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
}

@media (max-width: 480px) {
   .nav {
    padding: 0px;
    justify-content: center;
  }
  .nav1 img{
  height: 60px;
}
  .nav1 h1 {
    font-size: 1rem;
  }
  .nav2 {
    display: none;
    justify-content: space-between;
  }
  .nav2 button {
    font-size: 1rem;
    padding: 0px 5px;
    margin: 0 5px;
  }

}
@media(max-width: 768px){
    ul{
    display: none;
  }
}

/* Nav menu bottom */
.nav-menu-bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
   position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding: 10px 20px;
  background-color: #ffffff;
  border-top: 1px solid #e5e7eb;
  z-index: 1000;
}
/* Center icons + label */
.nav-menu-bottom a {
  text-decoration: none;
  color: #25272baf;
}

.nav-menu-bottom > div {
  flex: 1;
  text-align: center;
}

.tab-icon {
  display: flex;
  justify-content: center;
}

.tab-label {
  font-size: 12px;
  margin-top: 2px;
}
.menu-icon {
  display: flex;
  justify-content: center;
  color: #25272baf;
}

.nav-menu-bottom a:hover {
  color: #2563eb;
}
@media (min-width: 768px) {
  .nav-menu-bottom {
    display: none;
  }
}

/* Menu */
.full-menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: #ffffff;
  z-index: 9999;
  padding: 20px;
}

.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-btn {
  font-size: 20px;
  border: none;
  background: none;
  cursor: pointer;
}

.menu-list {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.menu-list li a {
  font-size: 1.2rem;
  color: #000;
  text-decoration: none;
}
.news-bar {
  display: none;
}
@media (min-width: 769px) {
.news-bar {
  width: 100%;
  height: 50px;
  background-color: #2d9cdb;
  display: flex;
  align-items: center;
  overflow: hidden;
  color: white;
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
}

.news-title {
  background-color: #2095da;
  padding:15px;
  font-weight: 500;
  white-space: nowrap;
}

.news-marquee {
  flex: 1;
  overflow: hidden;
  position: relative;
}

.news-track {
  display: inline-block;
  white-space: nowrap;
  padding-left: 100%;
  animation: scrollText 25s linear infinite;
}
}
@keyframes scrollText {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
/* Courses card*/
.courselist {
  background: #e5e7eb;
  padding: 50px 20px;
}

.courselist h1 {
  color: #2095da;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 40px;
}

/* Cards Container */
.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

/* Individual Card */
.cards-container .card {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  width: 400px;
  overflow: hidden;
  transition: transform 0.3s;
}

.cards-container .card:hover {
  transform: translateY(-5px);
}

.cards-container .card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.cards-container .card-body {
  padding: 15px;
}

.cards-container .card-body h4 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #111827;
}

.cards-container .card-body p {
  font-size: 14px;
  color: #4b5563;
  line-height: 1.5;
}

/* Responsive */
@media (max-width: 768px) {
  .cards-container {
    flex-direction: column;
    align-items: center;
  }
}

/* More info link */
.more-info-link {
  margin-top: 10px;
  padding: 5px 20px;
  color: #2563eb;
  font-size: 15px;
 display: flex;
  justify-content: flex-end;
  font-weight: 500;
}


/* Champions */
.champions {
  background: #f3d0e7;
  padding: 50px 20px;
}

.champions h1 {
  color: #2095da;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 40px;
  padding: 0 80px;
  text-align: start;
}

/* champions Container */
.champions-container{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

/* champions Card */
.champion-card {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  width: 200px;
  overflow: hidden;
  transition: transform 0.3s;
}

.champion-card  img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.champions{
  padding: 10px;
  text-align: center;
}

.champions h4 {
  font-size: 15px;
  color: #111827;
}
.champions p{
  font-size: 13px;
  padding-bottom: 20px;
}

/* Responsive */
@media (max-width: 768px) {
  .champions-container {
    flex-direction: column;
    align-items: center;
  }
}

/* Latest Updates and industry news */
/* Bg Image */
.bg-img2 {
  min-height: 600px;              /* increase height */
  background-image: url("/temp2.jpg"); /* your image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  padding: 60px 80px;
}

.latestupdate {
  width: 48%;
  color: white;
}

.latestupdate h1 {
  margin-bottom: 20px;
  color: #2d9cdb;
  font-size: 35px;
  font-weight:450;
  text-transform: uppercase;
}

.updatecard {
  background: white;
  color: #111;
  padding: 20px;
  height: 400px;
  width: 100%;
}
.updatecardImg{
 display: flex;
  justify-content: center;
}
.updatecard img{
   height: 250px;
  width: 400px;
  border: 3px solid #807f7f;
}
 p{
   margin-top:20px;
  font-weight:400;
  text-align: start;
}
.industrynews {
  width: 48%;
  color: white;
}

.industrynews h1 {
  margin-bottom: 20px;
  color: #2d9cdb;
  font-size: 35px;
  font-weight: 450;
  text-transform: uppercase;
}

.Industrycard {
  background: white;
  color: #111;
  padding: 15px;
  margin-bottom: 12px;
  text-align: center;
  font-weight: 500;
  height: 133px;
}
