*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding-bottom: 80px;
}

.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f8f8f8;
  padding: 0px 30px;
}

.nav1{
  display: flex;
  align-items: center;
  gap: 20px;
}
.nav1 img{
  height: 70px;
}
.nav2{
   display: flex;
}
button{
  border: 2px solid #2d9cdb;
  color: #2d9cdb;
  padding: 5px 20px;
  margin: 0px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

ul{
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  padding: 0 30px;
  background: rgba(0, 0, 0, .8);
  padding: 8px 16px;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
}

@media (max-width: 480px) {
   .nav {
    padding: 0px;
    justify-content: center;
  }
  .nav1 h1 {
    font-size: 1rem;
  }
  .nav2 {
    display: none;
    justify-content: space-between;
  }
  .nav2 button {
    font-size: 1rem;
    padding: 0px 5px;
    margin: 0 5px;
  }

}
@media(max-width: 768px){
    ul{
    display: none;
  }
}

/* Nav menu bottom */
.nav-menu-bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
   position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding: 10px 20px;
  background-color: #ffffff;
  border-top: 1px solid #e5e7eb;
  z-index: 1000;
}
/* Center icons + label */
.nav-menu-bottom a {
  text-decoration: none;
  color: #111827;
}

.nav-menu-bottom > div {
  flex: 1;
  text-align: center;
}

.tab-icon {
  display: flex;
  justify-content: center;
}

.tab-label {
  font-size: 12px;
  margin-top: 2px;
}
.menu-icon {
  display: flex;
  justify-content: center;
}
.nav-menu-bottom a:hover {
  color: #2563eb;
}
@media (min-width: 768px) {
  .nav-menu-bottom {
    display: none;
  }
}

/* Menu */
.full-menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: #ffffff;
  z-index: 9999;
  padding: 20px;
}

.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-btn {
  font-size: 20px;
  border: none;
  background: none;
  cursor: pointer;
}

.menu-list {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.menu-list li a {
  font-size: 1.2rem;
  color: #000;
  text-decoration: none;
}
