*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}

.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f8f8f8;
  padding: 0px 30px;
}

.nav1{
  display: flex;
  align-items: center;
  gap: 20px;
}
.nav1 img{
  height: 80px;
}
.nav2{
   display: flex;
}
button{
  border: 2px solid #2d9cdb;
  color: #2d9cdb;
  padding: 0px 10px;
  margin: 0px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

ul{
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  background: rgba(0, 0, 0, .8);
  padding: 12px 16px;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
}

@media (max-width: 480px) {
   .nav {
    padding: 0px;
    justify-content: center;
  }
  .nav1 img{
  height: 60px;
}
  .nav1 h1 {
    font-size: 1rem;
  }
  .nav2 {
    display: none;
    justify-content: space-between;
  }
  .nav2 button {
    font-size: 1rem;
    padding: 0px 5px;
    margin: 0 5px;
  }

}
@media(max-width: 768px){
    ul{
    display: none;
  }
}

/* Nav menu bottom */
.nav-menu-bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
   position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  padding: 10px 20px;
  background-color: #ffffff;
  border-top: 1px solid #e5e7eb;
  z-index: 1000;
}
/* Center icons + label */
.nav-menu-bottom a {
  text-decoration: none;
  color: #25272baf;
}

.nav-menu-bottom > div {
  flex: 1;
  text-align: center;
}

.tab-icon {
  display: flex;
  justify-content: center;
}

.tab-label {
  font-size: 14px;
  margin-top: 2px;
}
.menu-icon {
  display: flex;
  justify-content: center;
  color: #25272baf;
}

.nav-menu-bottom a:hover {
  color: #2563eb;
}
@media (min-width: 768px) {
  .bottom-nav,
  .nav-menu-bottom {
    display: none;
  }
}

/* Menu */
.full-menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background: #ffffff;
  z-index: 9999;
  padding: 20px;
}

.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-btn {
  font-size: 20px;
  border: none;
  background: none;
  cursor: pointer;
}

.menu-list {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.menu-list li a {
  font-size: 1.2rem;
  color: #000;
  text-decoration: none;
}
.news-bar {
  display: none;
}
@media (min-width: 769px) {
.news-bar {
  width: 100%;
  height: 50px;
  background-color: #2d9cdb;
  display: flex;
  align-items: center;
  overflow: hidden;
  color: white;
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
}

.news-title {
  background-color: #2095da;
  padding:15px;
  font-weight: 500;
  white-space: nowrap;
}

.news-marquee {
  flex: 1;
  overflow: hidden;
  position: relative;
}

.news-track {
  display: inline-block;
  white-space: nowrap;
  font-weight: 500;
  padding-left: 100%;
  animation: scrollText 28s linear infinite;
}
}
@keyframes scrollText {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
/* Girls Corner */
.girls-corner{
  padding: 60px 8vw;
  background: #f9fcff;
  text-align: center;
}

.girls-heading{
  font-size: 2.2rem;
  color: #2d9cdb;
  margin-bottom: 10px;
}

.girls-subheading{
  color: #555;
  max-width: 700px;
  margin: 0 auto 40px;
  font-size: 1.05rem;
}

.girls-cards{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}

.girls-card{
  background: #fff;
  padding: 30px 20px;
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(0,0,0,0.08);
  transition: transform 0.3s ease;
  text-align: center;
}

.girls-card:hover{
  transform: translateY(-8px);
}

.girls-card .icon{
  font-size: 2.5rem;
  margin-bottom: 15px;
}

.girls-card h3{
  color: #333;
  margin-bottom: 10px;
}

.girls-card p{
  color: #666;
  font-size: 0.95rem;
  line-height: 1.5;
}

.girls-btn{
  margin-top: 40px;
}

.girls-btn a{
  background: #e91e63;
  color: #fff;
  padding: 12px 30px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 500;
  transition: background 0.3s ease;
}

.girls-btn a:hover{
  background: #c2185b;
}
.icon{
  width: 60px;
  height: 60px;
  background: #ffe3ec;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 15px; 
  font-size: 1.8rem;
  color: #e91e63;
}


/* Courses card*/
.courselist {
  background: #e5e7eb;
  padding: 50px 20px;
}

.courselist h1 {
  color: #2095da;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 40px;
}

/* Cards Container */
.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

/* Individual Card */
.cards-container .card {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  width: auto;
  overflow: hidden;
  transition: transform 0.3s;
}

.cards-container .card:hover {
  transform: translateY(-5px);
}

.cards-container .card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.cards-container .card-body {
  padding: 15px;
}

.cards-container .card-body h4 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #111827;
}

.cards-container .card-body p {
  font-size: 14px;
  color: #4b5563;
  line-height: 1.5;
}

/* Responsive */
@media (max-width: 768px) {
  .cards-container {
    flex-direction: column;
    align-items: center;
  }
}

/* More info link */
.more-info-link {
  margin-top: 10px;
  padding: 5px 20px;
  color: #2563eb;
  font-size: 15px;
 display: flex;
  justify-content: flex-end;
  font-weight: 500;
}


/* Champions */
.champions {
  background: #f3d0e7;
  padding: 50px 20px;
}

.champions h1 {
  color: #2095da;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 40px;
  padding: 0 80px;
  text-align: start;
}

/* champions Container */
.champions-container{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

/* champions Card */
.champion-card {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  width: 200px;
  overflow: hidden;
  transition: transform 0.3s;
}

.champion-card  img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.champions{
  padding: 10px;
  text-align: center;
}

.champions h4 {
  font-size: 15px;
  color: #111827;
}
.champions p{
  font-size: 13px;
  padding-bottom: 20px;
}

/* Responsive */
@media (max-width: 768px) {
  .champions-container {
    flex-direction: column;
    align-items: center;
  }
}

/* Latest Updates and industry news */
/* Bg Image */

.bg-img2 {
  min-height: auto;
  background-image: url("/temp2.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
  padding: 50px 60px;
}
.updatecard p{
  color: white;
}
.latestupdate,
.industrynews {
  width: 48%;
}

/* ================= COMMON ================= */
.industrynews h1,
.latestupdate h1 {
  margin-bottom: 20px;
  font-size: 32px;
  font-weight: 500;
  text-transform: uppercase;
  color: #2095da;
}

/* Cards */
.Industrycard {
  background: white;
  padding: 15px;
  margin-bottom: 12px;
  display: flex;
  gap: 12px;
  align-items: center;
}

.Industrycard img {
  height: 60px;
  width: 60px;
  flex-shrink: 0;
}

.instatxt h1 {
  font-size: 12px;
  color: #444;
  padding: 0;
  line-height: 1.2;
}
.instalink a{
  color: #2095da;
}
/* ================= TABLET ================= */
@media (max-width: 768px) {
  .bg-img2 {
    flex-direction: column;
    padding: 30px 20px;
  }

  .latestupdate,
  .industrynews {
    width: 100%;
  }

  .industrynews h1,
  .latestupdate h1 {
    font-size: 26px;
  }
}

/* ================= MOBILE ================= */
@media (max-width: 480px) {
  .bg-img2 {
    padding: 20px 15px;
    gap: 20px;
  }

  .Industrycard {
    flex-direction: row;
    padding: 12px;
  }

  .Industrycard img {
    height: 50px;
    width: 50px;
  }
  .instatxt h1 {
    font-size: 13px;
  }
}
/* ABOUT */
.aboutmain{
  background: #2095da;
}
.about1{
  display: flex;
  justify-content: center;
  color: white;
  padding: 20px;
  font-weight: 500;
  font-size: 1.8rem;
}
.about-section{
  display: flex;
  width: 100%;  
  padding-left: 120px;
  padding-right: 120px;
  padding-bottom: 50px;
}
.about-img img{
  height: 350px;
  object-fit: cover;
  width: 500px;
  border: 1px solid black;
}
.about-txt{
  margin-left: 50px;
  width: 500px;
}
.about-txt h3{
  color: white;
  font-size: 1.8rem;
  line-height: 35px;
  font-weight: 600;
}
.stats {
  display: flex;
  gap: 20px;
  padding:20px;
}

.stat {
  color: white;
}

.stat h2{
  background: none;
  color: white;
  font-size: 25px;
  font-weight: 650;
}
 /* react icons */
.stat svg {
  font-size: 50px;
  margin: 5px;
  color: white;
}

.about-para{
  color: white;
  font-size: 15px;
}@media (max-width: 990px) {

  .about-section {
    flex-direction: column;
    padding: 20px;
    align-items: center;
  }

  .about-img img {
    width: 100%;
    max-width: 500px;
    height: auto;
  }

  .about-txt {
    width: 100%;
    max-width: 700px;
    margin: 20px 0 0;
  }

  /*  FIX ICON DISTRACTION */
  .stats {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px 0;
    text-align: center;
  }

  .stat {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .stat svg {
    font-size: 42px;
    margin-bottom: 8px;
  }

  .stat h2 {
    font-size: 22px;
  }

  .stat p {
    font-size: 14px;
  }
}
@media (max-width: 600px) {
  .stats {
    grid-template-columns: 1fr;
  }
}
/* Browse and Need Help */
.help-section {
  display: flex;
  width: 100%;
}

.help-box {
  width: 50%;
  padding: 60px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;    
  justify-content: center; 
  text-align: center;
}

.help-box.left {
  background: white;
  color: #111827;
}
.help-box.left h1{
  font-size: 2rem;
}

.help-box.right {
  background: #4aa9dc; 
  color: white;
}
.help-box.right h1{
  font-size: 2rem;
}
.help-icon {
  font-size: 60px;
  margin-bottom: 20px;
  color: #2d9cdb;
}

.help-box.right .help-icon {
  color: white;
}

.help-box button {
  margin-top: 20px;
  padding: 10px 25px;
  background: #2d9cdb;
  border: 1px solid white;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}
.help-box button:hover{
    transform: translateY(-5px); 
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}
@media (max-width: 768px) {
  .help-section {
    flex-direction: column;
  }

  .help-box {
    width: 100%;
  }
}
  /* Footer */
.footer{
  background: #3b393a;
}

.row1,.row2{
  display: flex;
  align-items: center;
  padding: 40px 12vw;  /* instead of padding-left: 20vw */
  padding-left:0 10vw;
  gap: 50px;
}
.row1,.row2 h1{
  color: #2d9cdb;
  font-size: 1rem;
  text-align: center;
}
.row1 li{
  list-style: none;
  color:#c7c5c5 ;
  display: flex;
}

.help{
  display: flex;
}
.help a{
  color:#c7c5c5 ;
}

  /* footer social icons */
.social-icons  .subscibe{
  display: flex;
  gap: 12px;
}

.social-icons svg {
  font-size: 20px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.social-icons svg:hover {
  transform: translateY(-4px);
}
.footer-map {
  width: 100%;
  max-width: 350px;
  border-radius: 10px;
  overflow: hidden;
}
.footer-map iframe {
  border-radius: 10px;
}
@media (max-width: 768px) {
  .row2 {
    flex-direction: column;
    align-items: flex-start;
    padding: 30px 20px;
  }
}
/* Copyright section */
.copyright{
  background:#292929;
  padding: 15px;
}
.copyright-section p{
  color: #747474;
  padding: 5px;
  padding-left: 70px;
}